// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 100%;

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$medium-screen: em(640);
$large-screen: em(860);
$big-screen: em(1080);

$medium-screen: new-breakpoint(max-width $medium-screen 4);
$large-screen: new-breakpoint(max-width $large-screen min-width $medium-screen 8);
$big-screen: new-breakpoint(min-width $big-screen 12);
