/*


*/
/* line 1, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/extends/_button.scss */
button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
}
/* line 131, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #628cc8;
  cursor: pointer;
  background-color: #3c71bb;
  background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
  background-image: linear-gradient(#3c71bb, #255aa5);
}
/* line 148, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
button:active:not(:disabled),
input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
input[type="submit"]:focus:not(:disabled) {
  border: 1px solid #2459a6;
  box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397;
}
/* line 51, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 1, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

/* line 9, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 16, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 20, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 24, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 28, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 32, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 36, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 40, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 44, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 49, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 53, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 59, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 67, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%;
}

/* line 72, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 77, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em;
}

/* line 82, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em;
}

/* line 86, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
del {
  color: #595959;
}

/* line 90, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 97, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 101, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_typography.scss */
cite:before {
  content: '\2014 \00A0';
}

/* line 10, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 19, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 25, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 29, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
label.required:after {
  content: "*";
}
/* line 33, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
label abbr {
  display: none;
}

/* line 40, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 53, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 57, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 64, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 72, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 77, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
input[type="file"] {
  width: 100%;
}

/* line 81, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* line 88, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_forms.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

/* line 20, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle;
}

/* line 1, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 19, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
/* line 23, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, /home/netventief/School/lifefire/app/assets/stylesheets/bitters/_lists.scss */
dl dd {
  margin: 0;
}

/* line 2, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global */
/* line 2, /home/netventief/School/lifefire/app/assets/stylesheets/global/_backdrop.sass */
body.backdrop {
  background: url(lifefire.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 9, /home/netventief/School/lifefire/app/assets/stylesheets/global/_backdrop.sass */
body.backdrop .container {
  background: white;
  width: 700px;
  padding: 30px;
  margin: 40px auto;
}

/* line 6, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
body {
  background: #f9f9f9;
  font-family: "open_sansregular";
}

/* line 10, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-3.2.3/app/assets/stylesheets/addons/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 53.75em) and (min-width: max-width 40em 4) {
  /* line 15, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .content {
    float: left;
    display: block;
    margin-right: 2.32558%;
    width: 74.4186%;
    padding: 20px;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .content:last-child {
    margin-right: 0;
  }
  /* line 19, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .component_holder {
    float: left;
    display: block;
    margin-right: 3.125%;
    width: 48.4375%;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .component_holder:last-child {
    margin-right: 0;
  }
  /* line 22, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .sidebar {
    float: left;
    display: block;
    margin-right: 2.32558%;
    width: 23.25581%;
    padding: 20px;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .sidebar:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 40em) {
  /* line 28, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .content {
    float: left;
    display: block;
    margin-right: 4.7619%;
    width: 100%;
    padding: 20px;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .content:last-child {
    margin-right: 0;
  }
  /* line 32, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .component_holder {
    float: left;
    display: block;
    margin-right: 4.7619%;
    width: 100%;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .component_holder:last-child {
    margin-right: 0;
  }
  /* line 35, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .sidebar {
    float: left;
    display: block;
    margin-right: 4.7619%;
    width: 100%;
    padding: 20px;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .sidebar:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 67.5em) {
  /* line 41, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .content {
    float: left;
    display: block;
    margin-right: 1.53846%;
    width: 74.61538%;
    padding: 20px 0 20px 20px;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .content:last-child {
    margin-right: 0;
  }
  /* line 45, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .component_holder {
    float: left;
    display: block;
    margin-right: 2.06186%;
    width: 48.96907%;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .component_holder:last-child {
    margin-right: 0;
  }
  /* line 48, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
  .container .sidebar {
    float: left;
    display: block;
    margin-right: 1.53846%;
    width: 23.84615%;
    padding: 20px 20px 0 0;
  }
  /* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  .container .sidebar:last-child {
    margin-right: 0;
  }
}

/* line 52, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
.karma {
  font-size: 10px;
}

/* line 55, /home/netventief/School/lifefire/app/assets/stylesheets/global/_style.sass */
.coloured {
  padding: 2px 4px;
  margin: 0px 6px 0 0;
  background-color: #ee4d21;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@font-face {
  font-family: 'open_sansregular';
  src: url(/assets/opensans/OpenSans-Regular-webfont.eot);
  src: url(/assets/opensans/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/opensans/OpenSans-Regular-webfont.woff) format("woff"), url(/assets/opensans/OpenSans-Regular-webfont.ttf) format("truetype"), url(/assets/opensans/OpenSans-Regular-webfont.svg#open_sansregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url(/assets/icomoon/icomoon.eot);
  src: url(/assets/icomoon/icomoon.eot?#iefix) format("embedded-opentype"), url(/assets/icomoon/icomoon.woff) format("woff"), url(/assets/icomoon/icomoon.ttf) format("truetype"), url(/assets/icomoon/icomoon.svg?#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 34, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 48, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
.icon-power-off:before {
  content: "\f011";
}

/* line 51, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
.icon-mail:before {
  content: "\e600";
}

/* line 54, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
.icon-cog:before {
  content: "\e601";
}

/* line 57, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
.icon-trophy:before {
  content: "\e602";
}

/* line 61, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
p {
  margin-bottom: 1.4em;
  line-height: 1.4;
}

/* line 66, /home/netventief/School/lifefire/app/assets/stylesheets/global/_typography.scss */
h2 {
  margin-bottom: 10px;
  color: #a2d04c;
}

/* Modules */
/* line 1, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 100%;
  background-color: #fcfcfc;
  color: #75787d;
  border: 1px solid #d4d4d4;
  border-bottom: 2px solid #d4d4d4;
  margin-bottom: 10px;
}
/* line 38, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
.component:last-child {
  margin-right: 0;
}
/* line 9, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .title {
  background-color: #f2f2f2;
  padding: 5px 15px;
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
}
/* line 15, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .title h2 {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding-left: 10px;
  color: #ee4d21;
  font-weight: normal;
  font-size: 1em;
  line-height: 34px;
}
/* line 23, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .title .icon {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-size: 1.4em;
}
/* line 27, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .title .image {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: middle;
}
/* line 31, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .date-select {
  padding: 0px 15px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  height: 30px;
  line-height: 30px;
}
/* line 38, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .date-select a {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: calc(100% / 6);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 28px;
  line-height: 28px;
  font-size: 0.8em;
  color: #97989c;
}
/* line 49, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .date-select a:hover {
  color: #a6a7ab;
}
/* line 52, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .date-select a.active {
  font-weight: bold;
}
/* line 55, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .content {
  position: relative;
  padding: 30px;
  width: 100%;
}
/* line 60, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .content .graph {
  position: relative;
  width: 100%;
  height: 300px;
}
/* line 65, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .content a.pill {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 8px 14px;
  color: white;
  width: 200px;
  text-align: center;
  margin: 10px 0px 10px calc(100% - 200px);
}
/* line 76, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .content a.pill.add_extra_sport {
  background-color: #a2d04c;
}
/* line 79, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .content a.pill.close_extra_sport {
  background-color: #ee4d21;
}
/* line 83, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
.component .overview .column {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 50%;
}
@media screen and (max-width: 40em) {
  /* line 89, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
  .component .overview .column {
    margin: 4% auto;
    display: block;
    width: 100%;
  }
  /* line 94, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_component.sass */
  .component .overview .column ul {
    display: block;
    width: 100%;
  }
}

/* line 2, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  border: 1px solid green;
  color: #767680;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #d4d4d4;
  padding: 8px 5px;
}
/* line 10, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="email"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="url"]:disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled {
  background-color: #f2f2f2;
  color: #dddddd;
}

/* line 14, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  background-color: white;
  outline: none;
}
/* line 18, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="email"]:hover:disabled, input[type="number"]:hover:disabled, input[type="password"]:hover:disabled, input[type="search"]:hover:disabled, input[type="tel"]:hover:disabled, input[type="text"]:hover:disabled, input[type="url"]:hover:disabled, input[type="color"]:hover:disabled, input[type="date"]:hover:disabled, input[type="datetime"]:hover:disabled, input[type="datetime-local"]:hover:disabled, input[type="month"]:hover:disabled, input[type="time"]:hover:disabled, input[type="week"]:hover:disabled {
  background-color: #f2f2f2;
  color: #dddddd;
}

/* line 22, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  background-color: white;
  outline: none;
  border: 1px solid #bebebe;
}
/* line 27, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="email"]:focus:disabled, input[type="number"]:focus:disabled, input[type="password"]:focus:disabled, input[type="search"]:focus:disabled, input[type="tel"]:focus:disabled, input[type="text"]:focus:disabled, input[type="url"]:focus:disabled, input[type="color"]:focus:disabled, input[type="date"]:focus:disabled, input[type="datetime"]:focus:disabled, input[type="datetime-local"]:focus:disabled, input[type="month"]:focus:disabled, input[type="time"]:focus:disabled, input[type="week"]:focus:disabled {
  background-color: #f2f2f2;
}

/* line 44, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #95c241;
  border-bottom: 2px solid #95c241;
  border-radius: 0px;
  box-shadow: none !important;
  background-image: none !important;
  background-color: #a2d04c !important;
  outline: none !important;
  padding: 10px 30px;
}

/* line 48, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border: 1px solid #95c241;
  border-bottom: 2px solid #95c241;
  border-radius: 0px;
  box-shadow: none !important;
  background-image: none !important;
  background-color: #b2e453 !important;
  outline: none !important;
}

/* line 51, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
  border: 1px solid #95c241;
  border-bottom: 2px solid #95c241;
  border-radius: 0px;
  box-shadow: none !important;
  background-image: none !important;
  background-color: #c2f95b !important;
  outline: none !important;
}

/* line 54, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  border: 1px solid #95c241;
  border-bottom: 2px solid #95c241;
  border-radius: 0px;
  box-shadow: none !important;
  background-image: none !important;
  background-color: #91bb44 !important;
  outline: none !important;
}

/* line 58, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
label {
  font-weight: normal;
  cursor: pointer;
}

/* line 63, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
select {
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #d4d4d4;
  padding: 8px 5px;
}
/* line 69, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
select:focus {
  outline: none;
  border: 1px solid #bebebe;
}
/* line 73, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
select:hover {
  background-color: white;
  outline: none;
}
/* line 77, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
select:active {
  outline: none;
}

/* line 82, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field {
  display: block;
  margin: 0 auto 1em;
}
/* line 86, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field label {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: calc(100% - 70px);
}
/* line 90, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch {
  align-self: center;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  position: relative;
  vertical-align: middle;
  width: 68px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 109, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"] {
  display: none;
}
/* line 112, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"] + .checkbox {
  background: #d4d4d4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 34px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 68px;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 125, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"] + .checkbox:before {
  background: #cfcfcf;
  border-radius: 3px;
  content: " ";
  height: 3px;
  width: 64px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 136, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"] + .checkbox:after {
  background-color: #d4d4d4;
  background-image: -webkit-linear-gradient(top, white, #d4d4d4);
  background-image: linear-gradient(to bottom,white, #d4d4d4);
  border-radius: 3px;
  content: " ";
  height: 30px;
  width: 30px;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 147, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"]:checked + .checkbox {
  background: #a2d04c;
}
/* line 149, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
/* line 151, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.checkbox_field .switch input[type="checkbox"]:checked + .checkbox:after {
  left: 36px;
}

/* line 156, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.number label {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: calc(100% - 80px);
}
/* line 160, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.number input[type=number] {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 80px;
}

/* line 165, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.range {
  position: relative;
  height: 70px;
  margin-bottom: 1em;
  height: 70px;
  padding: 40px 0 0;
}
/* line 172, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.range output {
  position: absolute;
  background-color: #a2d04c;
  height: 30px;
  padding: 0px 5px;
  width: 40px;
  line-height: 30px;
  text-align: center;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  left: 0;
  top: 0px;
  margin-left: -6px;
}
/* line 189, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.range output:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  text-align: center;
  left: 50%;
  margin-left: -5px;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a2d04c;
}
/* line 200, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.range input[type=range] {
  -webkit-appearance: none;
  background-color: #f2f0f1;
  width: 100%;
  height: 20px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 211, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_form_elements.sass */
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #a2d04c;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 6, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user_icons .icon a {
  display: block;
  height: 60px;
  width: 60px;
  font-size: 32px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #e3e3e3;
}
/* line 16, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user_icons .icon a:hover {
  color: #cccccc;
}

/* line 19, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
.messageCenter {
  position: absolute;
  width: 400px;
  padding: 20px 0 4px;
  background: #e5e5e5;
  top: 50px;
  right: 40px;
  z-index: 99;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
/* line 30, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
.messageCenter li {
  padding: 10px;
  background: white;
  border-bottom: 1px solid #cccccc;
}

/* line 36, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #e3e3e3;
}
/* line 43, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .logo {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  height: 60px;
  line-height: 60px;
  padding: 0 0 0 25px;
}
/* line 49, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .logo img {
  height: 20px;
  width: 89px;
}
/* line 53, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  height: 60px;
  float: right;
  color: #5f5f5f;
}
/* line 59, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-right: 20px;
}
/* line 63, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user .avatar {
  float: left;
  height: 60px;
  width: 40px;
  padding: 10px 0;
  margin-right: 10px;
}
/* line 70, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user .avatar img {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}
/* line 77, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user .user_information {
  float: left;
  height: 60px;
  padding: 6px 0;
}
/* line 81, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user .user_information .name {
  height: 24px;
}
/* line 84, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user .user_information .karma {
  height: 20px;
}
/* line 87, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user_icons {
  float: right;
  height: 60px;
  margin-right: 20px;
}
/* line 92, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
nav .menu .user_icons .icon {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
@media screen and (max-width: 40em) {
  /* line 36, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
  nav {
    height: 60px;
  }
  /* line 100, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
  nav .logo {
    display: none;
  }
  /* line 103, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
  nav .menu {
    width: 100%;
    padding: 0 20px;
  }
  /* line 107, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
  nav .menu .user {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-right: 1%;
  }
  /* line 111, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
  nav .menu .user_icons {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-right: 1%;
  }
  /* line 115, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_navigation.sass */
  nav .menu .user_icons .icon {
    width: 50px;
    font-size: 26px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
}

/* line 1, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_notifications.sass */
.notification {
  position: relative;
  width: 100%;
  top: -2px;
}
/* line 6, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_notifications.sass */
.notification .notice {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px 1.4em;
  color: white;
}
/* line 14, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_notifications.sass */
.notification .notice.success {
  background-color: #a2d04c;
}
/* line 17, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_notifications.sass */
.notification .notice.warning {
  background-color: #ee4d21;
}
/* line 20, /home/netventief/School/lifefire/app/assets/stylesheets/modules/_notifications.sass */
.notification .notice.error {
  background-color: #ee4d21;
}
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 10, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 20, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 44, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 56, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 66, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 108, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 125, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 134, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 143, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 152, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 168, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
sup {
  top: -0.5em;
}

/* line 172, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 183, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 191, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 202, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 210, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 220, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 231, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 255, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 265, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 292, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 321, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 356, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 378, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 389, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 398, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 407, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 418, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, /home/netventief/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
td,
th {
  padding: 0;
}
