.components-holder
  position: relative
  width: 100%
  min-height: 100%

  .component
    @include span-columns(6)

    display: block
    padding: 30px

    margin: 0.5%
    background-color: $component_background
    color: $component_text

    input[type=number]
      color: $input_text_color


