// Input fields
#{$all-text-inputs}
  border: 1px solid green
  color: $input_text_color
  width: 100%
  background-color: $input_background_color
  border: 1px solid $input_border_color
  padding: 8px 5px

  &:disabled
    background-color: $input_disabled_background_color
    color: $input_disabled_font_color

#{$all-text-inputs-hover}
  background-color: $input_background_color * 1.1
  outline: none

  &:disabled
    background-color: $input_disabled_background_color
    color: $input_disabled_font_color

#{$all-text-inputs-focus}
  background-color: white
  outline: none
  border: 1px solid $input_border_color * 0.9

  &:disabled
    background-color: $input_disabled_background-color

// Button mixins
@mixin disable_defined_style_and_overwrite_with_color($color)
  @include set_custom_border_with_color($submit_border_color)
  border-radius: 0px
  box-shadow: none !important
  background-image: none !important
  background-color: $color !important
  outline: none !important

@mixin set_custom_border_with_color($color)
  border: 1px solid $color
  border-bottom: 2px solid $color

// Button styling
#{$all-button-inputs}
  @include disable_defined_style_and_overwrite_with_color($submit_background_color)
  margin: 20px 0px
  padding: 10px 30px

#{$all-button-inputs-hover}
  @include disable_defined_style_and_overwrite_with_color($submit_background_color * 1.1)

#{$all-button-inputs-focus}
  @include disable_defined_style_and_overwrite_with_color($submit_background_color * 1.2)

#{$all-button-inputs-active}
  @include disable_defined_style_and_overwrite_with_color($submit_background_color * 0.9)



// Labels
label
  font-weight: normal
  cursor: pointer

// Custom styling
select
  width: 100%
  background-color: $input_background_color
  border: 1px solid $input_border_color
  padding: 8px 5px

  &:focus
    outline: none
    border: 1px solid $input_border_color * 0.9

  &:hover
    background-color: $input_background_color * 1.1
    outline: none

  &:active
    outline: none


// Checkbox switch style
.checkbox_field
  display: block
  margin: 1em auto

  label
    +inline-block
    width: calc(100% - 70px)

  .switch
    $switch-width: 68px
    $switch-padding: 2px
    $switch-height: 34px
    $switch-radius: 3px
    $knob-height: $switch-height - $switch-padding * 2
    $knob-width: $knob-height
    $knob-radius: $switch-radius

    align-self: center
    border-radius: $switch-radius
    cursor: pointer
    display: inline-block
    height: $switch-height
    position: relative
    vertical-align: middle
    width: $switch-width
    +box-sizing(border-box)

    input[type="checkbox"]
      display: none

      + .checkbox
        background: $input_border_color
        border: none
        border-radius: $switch-radius
        cursor: pointer
        height: $switch-height
        margin: 0
        padding: 0
        position: relative
        width: $switch-width
        z-index: 0
        +box-sizing(border-box)
        +transition(all 0.3s ease)
        &:before
          background: $input_border_color * .98
          border-radius: $switch-radius
          content: ' '
          height: $knob-radius
          width: $switch-width - $switch-padding * 2
          z-index: 1
          +box-sizing(border-box)
          +position(absolute, 2px 0 0 2px)
          +transition(all 0.3s ease)
          +transform(scale(1))
        &:after
          @include linear-gradient(to bottom, white, $input_border_color, $fallback: $input_border_color)
          border-radius: $knob-radius
          content: ' '
          height: $knob-height
          width: $knob-width
          z-index: 2
          +box-shadow(0 1px 3px rgba(0, 0, 0, 0.5))
          +position(absolute, 2px 0 0 2px)
          +transition(all 0.3s ease)
      &:checked
        + .checkbox
          background: $lifefire_green
          &:before
            +transform(scale(0))
          &:after
            left: $switch-width - $knob-width - $switch-padding

// Inline numberfield
.number
  label
    +inline-block
    width: calc(100% - 80px)

  input[type=number]
    +inline-block
    width: 80px

// Inline rangefield
.range
  position: relative
  height: 70px

  output
    position: absolute
    background-color: $lifefire_green
    min-width: 30px
    height: 30px
    padding: 0px 5px
    line-height: 30px
    text-align: center
    color: white
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    display: inline-block
    left: 0
    top: -40px

    &:after
      position: absolute
      content: ""
      width: 0
      height: 0
      top: 100%
      text-align: center
      left: 50%
      margin-left: -5px
      +triangle(10px, $lifefire_green, down)


  input[type=range]
    -webkit-appearance: none
    background-color: $input_range_background_color
    width: 100%
    height: 20px
    outline: none
    margin-top: 40px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    cursor: pointer

  input[type="range"]::-webkit-slider-thumb
    -webkit-appearance: none
    background-color: $lifefire_green
    width: 26px
    height: 26px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
