// Variables
$navigation_bar_height: 60px

// Includes
%navigation_icon
  a
    display: block
    height: $navigation_bar_height
    width: 60px
    font-size: 32px
    height: 60px
    text-align: center
    line-height: 60px
    color: $navigation_icon_color

    &:hover
      color: $navigation_icon_color * 0.9

.messageCenter
  position: absolute
  width: 400px
  padding: 20px 0 4px
  background: #e5e5e5
  top: 50px
  right: 40px
  z-index: 99
  border: 1px solid #ccc
  border-radius: 2px

  li
    padding: 10px
    background: #fff
    border-bottom: 1px solid #ccc

// Navigation
nav
  position: relative
  height: $navigation_bar_height
  width: 100%
  background-color: $navigation_background
  border-bottom: 2px solid $navigation_border

  .logo
    @include inline-block
    height: $navigation_bar_height
    line-height: $navigation_bar_height
    padding: 0 0 0 25px

    img
      height: 20px
      width: 89px

  .menu
    @include inline-block
    height: $navigation_bar_height
    float: right
    color: $user_navigation_text

    .user
      @include inline-block
      margin-right: 20px

      .avatar
        float: left
        height: $navigation_bar_height
        width: 40px
        padding: 10px 0
        margin-right: 10px

        img
          height: 40px
          width: 40px
          -webkit-border-radius: 10%
          -moz-border-radius: 10%
          border-radius: 10%

      .user_information
        float: left
        height: $navigation_bar_height
        padding: 6px 0
        .name
          height: 24px
          a
            color: $user_navigation_text
            &:hover
              text-decoration: underline

        .karma
          height: 20px

    .user_icons
      float: right
      height: $navigation_bar_height
      margin-right: 20px

      .icon
        @include inline-block
        @extend %navigation_icon

  // Define for other devices
  @include media($medium-screen)
    height: $navigation_bar_height

    .logo
      display: none

    .menu
      width: 100%
      padding: 0 $gutter

      .user
        @include inline-block
        margin-right: 1%

      .user_icons
        @include inline-block
        margin-right: 1%

        .icon
          width: 50px
          font-size: 26px
          height: 50px
          text-align: center
          line-height: 50px
