//= depend_on_asset "lifefire.jpg"

body.backdrop
  background: asset-url('lifefire.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  .container
    width: 700px
    margin: auto
    padding: 20px 0

  .logo
    background: asset-url('logo-white.png') no-repeat center center
    width: 700px
    height: 115px
    margin-bottom: 20px

  .login
    text-align: center

    .privacy_policy
      color: #fff
      font-size: 0.8em

    .facebook
      display: inline-block
      color: #fff
      width: auto
      height: 44px
      line-height: 44px
      padding: 0 20px 0 44px
      background: asset-url('facebook.png') #4862a3 no-repeat 0px center

  .setup
    background: #fff
    padding: 40px
