// Global colors
$lifefire_orange: #ee4d21
$lifefire_green: #a2d04c
$background: #f9f9f9

// Notices
$notice_succes: $lifefire_green
$notice_warning: $lifefire_orange
$notice_error: $lifefire_orange

// Navigation
$navigation_background: #fff
$navigation_border: #e3e3e3
$navigation_icon_color: #e3e3e3

$user_navigation_text: #5f5f5f
$karma_background: $lifefire_orange
$karma_text: #fff

// Components
$component_background: #fcfcfc
$component_title_background: #f2f2f2
$component_title_color: $lifefire_orange
$component_text: #75787d
$component_border: #d4d4d4
$component_date_link: #97989c

// Input
$input_text_color: #767680
$input_border_color: #d4d4d4
$input_background_color: #fcfcfc
$input_disabled_background_color: #f2f2f2
$input_disabled_font_color: #dddddd

$submit_border_color: #95c241
$submit_background_color: $lifefire_green

// Buttons