// Global colors
$lifefire_orange: #ee4d21
$lifefire_green: #93c13d

// Notices
$notice_succes: $lifefire_green
$notice_warning: $lifefire_orange
$notice_error: #c0392b

// Navigation
$navigation_background: #fff
$navigation_border: #d8d8d8
$navigation_icon_color: #e3e3e3
$user_navigation_text: #000
$user_navigation_karma_background: $lifefire_orange
$user_navigation_karma_text: #fff

// Components
$component_background: #fcfcfc
$component_text: grey


// Input
$input_text_color: #000

