body
  background: $background
  font-family: 'open_sansregular'

.container
  .components-holder
    @include outer-container

    margin-top: 2em
    margin-bottom: 3em

.karma
  font-size: 10px
.coloured
  padding: 2px 4px
  margin: 0px 6px 0 0
  background-color: $karma_background
  color: $karma_text
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
