//= depend_on_asset "opensans/OpenSans-Regular-webfont.eot"
//= depend_on_asset "opensans/OpenSans-Regular-webfont.svg"
//= depend_on_asset "opensans/OpenSans-Regular-webfont.ttf"
//= depend_on_asset "opensans/OpenSans-Regular-webfont.woff"

html
  height: 100%

body
  background: $background
  font-family: 'open_sansregular'
  color: $font_color_dark
  height: 100%

.avatar
  width: 40px
  height: 40px

  &.big
    width: 100px
    height: 100px

  img
    -webkit-border-radius: 100%
    -moz-border-radius: 100%
    border-radius: 100%

.coloured
  background: $lifefire_orange
  color: #fff
  padding: 0 5px
  border-radius: 4px

.container
  overflow: hidden
  min-height: 100%

  .userhash
    display: none

  .content
    float: right
    width: calc(100% - 200px)

    .middle_block
      +outer-container
      background: #fff
      padding: 40px
      border-bottom: 5px solid #efefef
      border-top: 5px solid #efefef

    .top_block
      background: #fff
      padding: 40px
      border-bottom: 5px solid #efefef
      .progress
        margin-bottom: 0
        border-bottom: 0
        h3
          border-bottom: 0
        .item
          padding-bottom: 0

    .block
      padding: 40px


    .results
      .column
        +span-columns(6)
        
        table
          margin: 0
          th
            border-bottom: none
            padding: 0
          td
            padding: 2px 0
            border-bottom: none
    .friends
      +outer-container
      .friend
        +span-columns(3)

        .avatar
          margin-bottom: 10px

        .name
          margin-bottom: 5px
          a
            color: $font_color_dark
            font-size: 1.1em

    .progress
      +outer-container
      border-bottom: 1px solid  $navigation_border
      margin-bottom: 20px
      h3
        border-bottom: 1px solid  $navigation_border
      .item
        +span-columns(3)
        padding: 30px 0
        text-align: center
        .value
          font-size: 2.4em
          padding-bottom: 20px
          small
            font-size: 0.3em
        .label
          color: $lifefire_orange
    .messages
      ul
        border: 1px solid $navigation_border
        border-bottom: 0px
        li
          border-bottom: 1px solid $navigation_border
          padding: 10px
          height: 60px
          line-height: 40px
          background: #fff
          font-size: 1.2em
          color: $font_color_light

          .avatar
            float: left
            margin-right: 10px

          .name
            color: $header_color_dark

    .profile
      position: relative

      .avatar
        +inline-block

      .button
        position: absolute
        right: 0
        bottom: 0